.opening {
    position: relative;
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
    left: calc(-1 * (100vw - 100%) / 2);
    z-index: 1;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catidle {
    position: absolute;
    bottom: 5%;
    left: 60%;
    transform: scaleX(-1);
    width: 8vw;
    height: auto;
    max-width: 128px;
    max-height: 128px;
    z-index: 9999; /* Make sure it's on top */
    cursor: pointer; /* Show pointer on hover */
    pointer-events: auto;
}

.speechbubble{
    position: absolute;
    bottom: 18%;
    left: 50%;
    max-width: 250px;
    max-height:250px;
}

body {
    margin: 0 170px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    background-color: #2A2A2A;
    color: #5FC76F;
    text-align: left;
}

.topbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #2A2A2A;
    color: #5FC76F;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    padding-left: -10px;
    font-size: 25px;
}

.right-links {
    display: flex;
    gap: 35px;
    padding-right: 80px;
}

.content:hover {
    background-color: #2f2f2f;
}

a {
    text-decoration: none;
    color: #5FC76F;

}

.intro {
    display: flex;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    margin: 50px 0;
}

.propic {
    width: 250px;
    border-radius: 50%;
}

.bio {
    font-size: 35px;
    color: #DCC7FF;
}

h1, h2 {
    margin: 0;
    text-align: center;
}

h2 {
    margin-top: 125px;
    font-size: 50px;
}

h3{
    margin-bottom: -30px;
}

p {
    font-size: 15px;
    margin: 0;
}

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.portfolio-video {
    width: 500px;
    height: 500px;
}

.portfolio-box {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: -108px;
    display:table-column;
    outline: 2px solid green;
}

.project-name {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.role {
    font-size: 19px;
    margin-top: -5px;
    margin-bottom: 5px;
    text-align: left;
}

.portfolio-description {
    font-size: 18px;
    text-align: left;
    margin-top: 15px;
    color: #DCC7FF
}

html {
    scroll-behavior: smooth;
}

.scroll-lock {
    /*overflow: hidden;*/
    height: 100vh;
}

.hidden{
    display:none;
}

.skill-container {
    margin-top: 25px;
    display: flex;
    gap: 12px; 
    flex-wrap: wrap;
    justify-content:center;
}

.skill-list {
    min-width: 90px;
    max-width: 300px;
    height: 60px;
    outline: 2px solid #26a69a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 0 10px;
    white-space: nowrap;
}

.Education {
    margin-top: 50px;
    margin-bottom: 50px;
}

.school{
    text-align:center;
}

.box {
    position: relative;
    left: -170px;
    width: calc(100% + 340px); /* 170 * 2 */
    height: 170px;
    background-color: dimgrey;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
}

.logo-container {
    display: flex;
    gap: 55px; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
}

.name {
    margin: 5px 0 0;
    font-size: 15px;
    color: white;
}

section .box {
    padding-bottom: 30px;
}